node_modules
/.temp
/.vscode
/scripts/*
!build.bat
!mklink.bat
!start.bat
!.conf
!clean.bat
/dst
/src/.depend
/src/pi_pt
/src/pi
/src/earn
*.c.ts
*.s.ts
*.p.ts
!/src/chat/server/cfg/server.c.ts
package-lock.json
/src/chat/pressure/xls/*.rs
/src/app
